<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Author</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body class="container-fluid">
<h1 th:text="'Añadir autor'"></h1>
<div class="col-lg-4">
    <form method="post" action="#" th:action="@{/nuevoautor/submit}" th:object="${autorForm}">
        Nombre <input type="text" id="nombre" placeholder="Ej: Paco" th:field="*{nombre}" class="form-control">
        <div th:object="${direccionForm}">
            Calle <input type="text" id="calle" placeholder="Ej: Calle Mandri 12" th:field="*{calle}" class="form-control">
            Ciudad <input type="text" id="ciudad" placeholder="Ej: Badajoz" th:field="*{ciudad}" class="form-control">
            País <input type="text" id="pais" placeholder="Ej: España" th:field="*{pais}" class="form-control"><br/>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
<br/>
<a href="/">Inicio </a>
</body>
</html>