<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Libro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body class="container-fluid">
<h1 th:text="'Añadir libro'" class="h1"></h1>
<div class="col-lg-4">
    <form method="post" action="#" th:action="@{/nuevolibro/submit}" th:object="${libroForm}" class="form-group">
        Título <input type="text" id="titulo" placeholder="Título" th:field="*{titulo}" class="form-control"><br/>
        <select name="Autores" th:field="*{autor}" class="form-select">
            <option value="">Selecciona autor</option>
            <option th:each="autor: ${autores}" th:value="${autor.idAutor}" th:text="${autor.nombre}"></option>
        </select>
        <br/>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
<br/>
<a href="/">Inicio </a>
</body>
</html>