<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Direcciones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body class="container-fluid">
<h1 class="h1">Direcciones</h1>
<table class="table table-dark">
    <thead>
    <tr>
        <th>ID Dirección</th>
        <th>Calle</th>
        <th>Ciudad</th>
        <th>País</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dir : ${listaDirecciones}">
        <td th:text="${dir.idDireccion}"></td>
        <td th:text="${dir.calle}"></td>
        <td th:text="${dir.ciudad}"></td>
        <td th:text="${dir.pais}"></td>
    </tr>
    </tbody>
</table>

<a href="/">Inicio </a>

</body>
</html>