<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de libros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body class="container-fluid">
<h1 class="h1">Libros</h1>
<table class="table table-dark">
    <thead>
    <tr>
        <th>ID Libro</th>
        <th>Título</th>
        <th>Autor</th>
        <th>Eliminar</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="libro : ${listaLibros}">
        <td th:text="${libro.idLibro}"></td>
        <td th:text="${libro.titulo}"></td>
        <td th:text="${libro.autor}"></td>
        <td><a th:href="@{/tablalibro/eliminar(id=${libro.idLibro})}">Eliminar</a> </td><br/>
    </tr>
    </tbody>
</table>
<a href="/">Inicio </a>
</body>
</html>